#smp-pages {
  width: 99%;
}
#smp-pages-control {
  width: 30%;
  float:left;
}

.controls {
   margin-left:40%;
}

div.mpager-page {
  position:relative;
  background-color: white;
}

img.pageimg{
  border: 1px solid #F0EB9E; 
  display: block;
}

div.measure{
  position: absolute;
  background-color: #FF0000;
  /* for IE */
  filter:alpha(opacity=0);
  /* CSS3 standard */
  opacity:0;
  /*display:none;*/
}

div.measure-visible{
  position: absolute;
  background-color: #FF0000;
  /* for IE */
  filter:alpha(opacity=20);
  /* CSS3 standard */
  opacity:0.20;
  /*display:none;*/
}